@using HelloMVC.Models;
@{ 
    List<Conversation> conversation = ViewBag.conversations;
}

<div id="view-div" style="        width: 800px;
        height: 500px;
        overflow: auto;
        float: left;
">
    @foreach (Conversation conversations in conversation)
    {
        <div>
            @{
                if (conversations.username == ViewData["username"].ToString())
                {
                    <h3 style="text-align: right;width:80%"> @ViewData["username"] </h3>;
                    <h2 style="text-align: right;width: 80%"> @conversations.text </h2>;
                }
                else
                {
                    <h3 style="text-align: left;width: 80%"> @ViewData["sationname"] </h3>;
                    <h2 style="text-align: left;width: 80%"> @conversations.text </h2>;
                }
            }
        </div>
    }
</div>
<script>
    var objDiv = document.getElementById("view-div");
    objDiv.scrollTop = objDiv.scrollHeight;
</script>
<div style="float: right;width:200px;height:500px; border-style:groove;border-radius:10px;">
    <form>
        <input type="submit" style="width: 195px;
        background: #ccc url('/images/icons/sean.ico') no-repeat top left;
        padding-left: 48px;
        height: 48px;
    " value="Text">
    </form>
</div>
<div>
    <form method="post" action="/Home/SendMag">
        <input id="Text1" style="border-style:groove;border-radius:10px;" name="send" type="text" />
        <input id="sendButton" type="button" value="send"/>
    </form>
</div>

